* {
    background-color: darkgrey;
    margin: auto;
}


#opening {
    font-family: Arial;
    font-weight: bold;
    padding: 5px;
    border-radius: 15px;
    background-color: beige;
}

#board {
    background-color: chocolate;
    height: 1200px;
    width: 1200px;
}

.centerThis {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    height: 150px;
    width: 150px;
    float: left;
    border: black dotted thin;
    box-sizing: border-box;
}

.darkblueBox {
    background-color: darkblue;
}

.darkgoldenrodBox {
    background-color: darkgoldenrod;
}

.darkgreenBox {
    background-color: darkgreen;
}

.blackBox {
    background-color: black;
}

.greyBox {
    background-color: grey;
}